.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
}

body {
  background: url("../public/background.jpeg");
  height: 100%;
  background-position: center;
  background-size: cover;
}
